<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <meta charset="utf-8">
    <title>TippiTime</title>
    <link href="../styles/bootstrap.css" rel="stylesheet" media="all">
    <link href="../styles/style.css" rel="stylesheet" media="all">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="../scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="../scripts/bootstrap-select.js"></script>
    <script type="text/javascript" src="../scripts/slick.min.js"></script>
    <script type="text/javascript" src="../scripts/common.js"></script>
</head>
<body>
    <!-- -- Header -- -->
    <header>
        <ul>
            <li class="text-left popup-menu"><a href="#signin-join" data-toggle="modal"><img src="../image/menu_sign.png"></a></li>
            <li class="text-center logo"><a href="/"><img src="../image/logo.png"></a></li>
            <li class="text-right refine"><a href="screens_mobile_final10.html" class="pull-right"><img class="pull-right" src="../image/ref_sign.png"><span class="pull-right hid480">Refine</span></a></li>
        </ul>
    </header>
    <!-- -- TippiTime Privacy Policy -- -->
    <main class="privacy-policy">

        <h1 class="title-pages">TippiTime Privacy Policy</h1>
        <div class="more">
            <h4>LAST UPDATED: 4/18/2015</h4>
            This privacy policy (this “Policy”) explains how personal information is collected, used, and disclosed by OpenTable, Inc. (“OpenTable” or “we”). This Policy applies to consumer users (individually referred to as “you”) of OpenTable’s websites, applications, and other online services (collectively, our “Sites”).
            Other third parties, such as restaurants at which you make reservations through our Sites, restaurants that you pay through our Sites, issuers of Merchant Gift Cards (as this term is defined in the OpenTable Terms of Use) you purchase through our Sites, and social networks that you use in connection with our Sites, may also collect, use, and share information about you. This Policy does not cover such third parties or their services. For information about third-party privacy practices, please consult with them directly.
            <h4>INFORMATION WE COLLECT</h4>
            We collect information about you in various ways when you use our Sites. We use this information to, among other things, provide the functionality and improve the quality of our Sites and personalize your experience. For example, we may collect your name, email address, postal address, phone number (including your mobile phone number), billing information, survey responses.
        </div>

    </main>

    <!-- Modal window -->
    <div class="modal" id="signin-join" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <div class="modal-body">
            <a href="screens_mobile_final7.html" class="btn-confirm-large">SIGN IN</a>
            <a href="screens_mobile_final9.html" class="btn-confirm-large">JOIN</a>
        </div>
        <div class="modal-footer">
            <ul class="info-article">
                <li><a href="screens_mobile_final12.html">Terms of use</a></li>
                <li><a href="screens_mobile_final13.html">Privacy Policy</a></li>
            </ul>
        </div>
    </div>

</body>
</html>