<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <title></title>
    <link href="../styles/bootstrap.css" rel="stylesheet" media="all">
    <link href="../styles/style.css" rel="stylesheet" media="all">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="../scripts/bootstrap.min.js"></script>
</head>
<body>

<header>
    <ul>
        <li class="text-left popup-menu"><a><img src="../image/menu_sign.png"></a></li>
        <li class="text-center logo"><a href="/"><img src="../image/logo.png"></a></li>
        <li class="text-right refine"><a href="screens_mobile_final10.html"><img class="pull-right" src="../image/ref_sign.png"><span class="pull-right">Refine</span></a></li>
    </ul>
</header>

<main class="refine-search">
    <h1>Refine your search</h1>
    <form>
        <ul>
            <li class="refine-search-title">Sort</li>
            <li>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-primary">
                        <input type="radio" name="options" id=""> Rating
                    </label>
                    <label class="btn btn-primary">
                        <input type="radio" name="options" id=""> Distance
                    </label>
                    <label class="btn btn-primary">
                        <input type="radio" name="options" id=""> A-Z
                    </label>
                </div>
            </li>
            <li class="refine-search-title">Filter</li>
            <li>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-primary">
                        <input type="radio" name="options" id=""> $$
                    </label>
                    <label class="btn btn-primary">
                        <input type="radio" name="options" id=""> $$$
                    </label>
                    <label class="btn btn-primary">
                        <input type="radio" name="options" id=""> $$$$
                    </label>
                </div>
            </li>
            <li class="refine-search-title text-right">
                <button type="">CLEAR ALL</button>
            </li>
            <li class="refine-search-btn-group">
                <button class="btn btn-cancel">Cancel</button>
                <button class="btn btn-confirm">Confirm</button>
            </li>
        </ul>
    </form>
</main>


</body>
</html>