<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <meta charset="utf-8">
    <title>TippiTime</title>
    <link href="../styles/bootstrap.css" rel="stylesheet" media="all">
    <link href="../styles/style.css" rel="stylesheet" media="all">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="../scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="../scripts/bootstrap-select.js"></script>
    <script type="text/javascript" src="../scripts/owl.carousel.min.js"></script>
    <script type="text/javascript" src="../scripts/common.js"></script>
</head>
<body>
    <!-- -- Header -- -->
    <header>
        <ul>
            <li class="text-left popup-menu"><a href="#signin-join" data-toggle="modal"><img src="../image/menu_sign.png"></a></li>
            <li class="text-center logo"><a href="/"><img src="../image/logo.png"></a></li>
            <li class="text-right refine"><a href="screens_mobile_final10.html" class="pull-right"><img class="pull-right" src="../image/ref_sign.png"><span class="pull-right hid480">Refine</span></a></li>
        </ul>
    </header>
    <!-- -- Page one salon -- -->
    <main class="salon-page">
        <!-- -- Slider -- -->
        <section id="slider" class="carousel slide">
            <div class="carousel-inner">
                <div class="active item">
                    <img src="../image/demo/slide.png">
                </div>
                <div class="item">
                    <img src="../image/demo/slide2.png">
                </div>
                <div class="item">
                    <img src="../image/demo/slide3.png">
                </div>
                <div class="carousel-caption">
                    <h4>Rainbow unicorn studio</h4>
                    <p>1235 Jefferson Highway</p>
                </div>
            </div>
            <a class="carousel-control left" href="#slider" data-slide="prev"></a>
            <a class="carousel-control right" href="#slider" data-slide="next"></a>
        </section>
        <!-- -- Tabs -- -->
        <section class="tabs">
            <ul class="nav nav-tabs" id="tabs">
                <li class="active"><a href="#services" data-toggle="tab">Services</a></li>
                <li class="vr-line"><a href="#reviews" data-toggle="tab">Reviews</a></li>
                <li><a href="#info" data-toggle="tab">Info</a></li>
            </ul>
            <div class="tab-content">
                <!-- Tab services -->
                <div class="tab-pane active" id="services">

                    <div class="services-list">
                        <div class="services-description">
                            <ul>
                                <li><a class="triger-services-user"></a></li>
                                <li>
                                    <h2>Gel Manicure &  Eyebrow wax</h2>
                                    <a class="triger-services-info"></a>
                                    <span>$ 35  for 90 min.</span>
                                </li>
                            </ul>
                            <div class="checked-options"></div>
                        </div>
                        <div class="services-info services-up">
                            <ul>
                                <li>1. Normal prep staps, apply tips, primer etc...</li>
                                <li>2. Apply 1st coat of gel thinly to nails. Cure.</li>
                                <li>3. Apply 2nd coat of gel, adding arches. Cure.</li>
                                <li>4. Cleanse nails.</li>
                                <li>5. Do finish work; shape, taper, bevel, contour as needed.</li>
                            </ul>
                        </div>
                        <div class="services-user carousel-time-user services-up">
                            <div class="owl-carousel carousel-user">
                                <div><span><input type="radio" name="services-gel"><label>You</label></span></div>
                                <div><span><input type="radio" name="services-gel"><label>Guest 1</label></span></div>
                                <div><span><input type="radio" name="services-gel"><label>Guest 2</label></span></div>
                                <div><span><input type="radio" name="services-gel"><label>Guest 3</label></span></div>
                                <div><span><input type="radio" name="services-gel"><label>Guest 4</label></span></div>
                                <div><span><input type="radio" name="services-gel"><label>Guest 5</label></span></div>
                                <div><span><input type="radio" name="services-gel"><label>Guest 6</label></span></div>
                                <div><span><input type="radio" name="services-gel"><label>Guest 7</label></span></div>
                            </div>
                        </div>
                    </div>

                    <div class="services-list">
                        <div class="services-description">
                            <ul>
                                <li><a class="triger-services-user"></a></li>
                                <li>
                                    <h2>Basic  pedicure</h2>
                                    <a class="triger-services-info"></a>
                                    <span>$ 25  for 90 min.</span>
                                </li>
                            </ul>
                            <div class="checked-options"></div>
                        </div>
                        <div class="services-info services-up">
                            <ul>
                                <li>1. Normal prep staps, apply tips, primer etc...</li>
                                <li>2. Apply 1st coat of gel thinly to nails. Cure.</li>
                                <li>3. Apply 2nd coat of gel, adding arches. Cure.</li>
                                <li>4. Cleanse nails.</li>
                                <li>5. Do finish work; shape, taper, bevel, contour as needed.</li>
                            </ul>
                        </div>
                        <div class="services-user carousel-time-user services-up">
                            <div class="owl-carousel carousel-user">
                                <div><span><input type="radio" name="services-pedicure"><label>You</label></span></div>
                                <div><span><input type="radio" name="services-pedicure"><label>Guest 1</label></span></div>
                                <div><span><input type="radio" name="services-pedicure"><label>Guest 2</label></span></div>
                                <div><span><input type="radio" name="services-pedicure"><label>Guest 3</label></span></div>
                                <div><span><input type="radio" name="services-pedicure"><label>Guest 4</label></span></div>
                                <div><span><input type="radio" name="services-pedicure"><label>Guest 5</label></span></div>
                                <div><span><input type="radio" name="services-pedicure"><label>Guest 6</label></span></div>
                                <div><span><input type="radio" name="services-pedicure"><label>Guest 7</label></span></div>
                            </div>
                        </div>
                    </div>

                    <div class="services-list">
                        <div class="services-description">
                            <ul>
                                <li><a class="triger-services-user"></a></li>
                                <li>
                                    <h2>Spa pedicure</h2>
                                    <a class="triger-services-info"></a>
                                    <span>$ 45  for 90 min.</span>
                                </li>
                            </ul>
                            <div class="checked-options"></div>
                        </div>
                        <div class="services-info services-up">
                            <ul>
                                <li>1. Normal prep staps, apply tips, primer etc...</li>
                                <li>2. Apply 1st coat of gel thinly to nails. Cure.</li>
                                <li>3. Apply 2nd coat of gel, adding arches. Cure.</li>
                                <li>4. Cleanse nails.</li>
                                <li>5. Do finish work; shape, taper, bevel, contour as needed.</li>
                            </ul>
                        </div>
                        <div class="services-user carousel-time-user services-up">
                            <div class="owl-carousel carousel-user">
                                <div><span><input type="radio" name="services-spa"><label>You</label></span></div>
                                <div><span><input type="radio" name="services-spa"><label>Guest 1</label></span></div>
                                <div><span><input type="radio" name="services-spa"><label>Guest 2</label></span></div>
                                <div><span><input type="radio" name="services-spa"><label>Guest 3</label></span></div>
                                <div><span><input type="radio" name="services-spa"><label>Guest 4</label></span></div>
                                <div><span><input type="radio" name="services-spa"><label>Guest 5</label></span></div>
                                <div><span><input type="radio" name="services-spa"><label>Guest 6</label></span></div>
                                <div><span><input type="radio" name="services-spa"><label>Guest 7</label></span></div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Tab reviews -->
                <div class="tab-pane" id="reviews">
                    <div class="reviews-list female-blockquote">
                        <blockquote>
                            “Nicole is awesome. She is the ultimate professional.
                            Her work speaks for itself. She is prompt with her appointment times.
                            She gives you her undivided attention.
                            She works efficiently paying attention to every detail.”
                        </blockquote>
                        <i>Johanna H., 2/21/15</i>
                    </div>
                    <div class="reviews-list male-blockquote">
                        <blockquote>
                            “I give Khay 5 stars out of 5 stars! I've been going to her since I first
                            tried her out and thats been over a year ago. I will never let another
                            nail tech do my nails.
                            Shes Awesome, Afforable, Flexible, and very Pleasant.”
                        </blockquote>
                        <i>Alexis F., 3/16/15</i>
                    </div>
                </div>
                <!-- Tab info -->
                <div class="tab-pane" id="info">
                    <div class="info-text clearfix">
                        <img src="../image/demo/info-tab.png" class="img-circle pull-left">
                       <h2 class="salon-name">Rainbow unicorn studio</h2>
                        <p class="salon-address">1235 Jefferson Highway</p>
                        <ul class="pull-right">
                            <li>Tuesday 9:30am - 8:30pm</li>
                            <li>Saturday 9:30am - 8:30pm</li>
                        </ul>
                    </div>
                    <h3>About us</h3>
                    <div class="about-us-text more" id="about-us-text">
                        Glamm's electric personality and classic styling skills have made her one of the top up and coming hairstylist and make–up artist in the United States. Since entering the industry over 10 years ago she has been blessed to work with Cassie Davis , Yaya Decosta, Teyana Taylor, Taymar Davis and Tyler Perry just to name a
                        Glamm's electric personality and classic styling skills have made her one of the top up and coming hairstylist and make–up artist in the United States. Since entering the industry over 10 years ago she has been blessed to work with Cassie Davis , Yaya Decosta, Teyana Taylor, Taymar Davis and Tyler Perry just to name a
                        Glamm's electric personality and classic styling skills have made her one of the top up and coming hairstylist and make–up artist in the United States. Since entering the industry over 10 years ago she has been blessed to work with Cassie Davis , Yaya Decosta, Teyana Taylor, Taymar Davis and Tyler Perry just to name a
                        Glamm's electric personality and classic styling skills have made her one of the top up and coming hairstylist and make–up artist in the United States. Since entering the industry over 10 years ago she has been blessed to work with Cassie Davis , Yaya Decosta, Teyana Taylor, Taymar Davis and Tyler Perry just to name a
                        Glamm's electric personality and classic styling skills have made her one of the top up and coming hairstylist and make–up artist in the United States. Since entering the industry over 10 years ago she has been blessed to work with Cassie Davis , Yaya Decosta, Teyana Taylor, Taymar Davis and Tyler Perry just to name a
                    </div>
                </div>
            </div>
        </section>

    </main>

    <a href="#select-time" role="button" class="btn btn-select-time" data-toggle="modal">modal</a>
    <!-- Modal window -->
    <div class="modal" id="select-time" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Select your time</h3>
        </div>
        <div class="modal-body">
            <section class="salon-filter">
                <ul>
                    <li>
                        <select class="selectpicker">
                            <option>For 3</option>
                            <option>For 4</option>
                            <option>For 5</option>
                        </select>
                    </li>
                    <li>
                        <select class="selectpicker">
                            <option>3/27</option>
                            <option>4/27</option>
                            <option>5/27</option>
                        </select>
                    </li>
                    <li>
                        <select class="selectpicker">
                            <option>7:50pm</option>
                            <option>8:50pm</option>
                            <option>9:50pm</option>
                            <option>9:50pm</option>
                            <option>9:50pm</option>
                            <option>9:50pm</option>
                            <option>9:50pm</option>
                            <option>9:50pm</option>
                            <option>9:50pm</option>
                        </select>
                    </li>
                </ul>
            </section>
            <section class="carousel-modal carousel-time-user">
                <div class="owl-carousel carousel-time">
                    <div><span><input type="radio" name="select-time"><label>7:50pm</label></span></div>
                    <div><span><input type="radio" name="select-time"><label>7:50pm</label></span></div>
                    <div><span><input type="radio" name="select-time"><label>7:50pm</label></span></div>
                    <div><span><input type="radio" name="select-time"><label>8:50pm</label></span></div>
                    <div><span><input type="radio" name="select-time"><label>8:50pm</label></span></div>
                    <div><span><input type="radio" name="select-time"><label>8:50pm</label></span></div>
                    <div><span><input type="radio" name="select-time"><label>9:50pm</label></span></div>
                    <div><span><input type="radio" name="select-time"><label>9:50pm</label></span></div>
                </div>
            </section>
        </div>
        <div class="modal-footer">
            <button disabled class="btn">BOOK NOW</button>
        </div>
    </div>
    <!-- -- Sign in and Join modal -- -->
    <div class="modal" id="signin-join" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <div class="modal-body">
            <a href="screens_mobile_final7.html" class="btn-confirm-large">SIGN IN</a>
            <a href="screens_mobile_final9.html" class="btn-confirm-large">JOIN</a>
        </div>
        <div class="modal-footer">
            <ul class="info-article">
                <li><a href="screens_mobile_final12.html">Terms of use</a></li>
                <li><a href="screens_mobile_final13.html">Privacy Policy</a></li>
            </ul>
        </div>
    </div>

</body>
</html>