<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <title></title>
    <link href="../styles/bootstrap.css" rel="stylesheet" media="all">
    <link href="../styles/style.css" rel="stylesheet" media="all">

</head>
<body>

<header>
    <ul>
        <li class="text-left popup-menu"><a><img src="../image/menu_sign.png"></a></li>
        <li class="text-center logo"><a href="/"><img src="../image/logo.png"></a></li>
        <li class="text-right refine"><a href="screens_mobile_final10.html"><img class="pull-right" src="../image/ref_sign.png"><span class="pull-right">Refine</span></a></li>
    </ul>

    <div class="search">
        <input type="search" name="" placeholder="Search">
        <span></span>
    </div>
</header>

<nav>
    <ul>
        <li><span>For 3</span></li>
        <li><div><span>3/27</span></div></li>
        <li><span>7:50pm</span></li>
    </ul>
</nav>

<!--<section class="row-fluid salon-filter">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <select name="">
                <option value="">For 3</option>
                <option value="">For 3</option>
                <option value="">For 3</option>
            </select>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <select name="">
                <option value="">3/27</option>
                <option value="">3/27</option>
                <option value="">3/27</option>
            </select>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <select name="">
                <option value="">7:50pm</option>
                <option value="">7:50pm</option>
                <option value="">7:50pm</option>
            </select>
        </div>
    </ul>
</section>-->

<main class="salon-list">
    <section class="salon-block">
        <img class="pull-left img-salon" src="../image/demo/demo-list.png">
        <div class="salon-block-info">
            <h2>Rainbow unicorn studio</h2>
            <p>1235 Jefferson Highway</p>
            <ul>
                <li class="likes"><img src="../image/sprites.png" alt="">750</li>
                <li class="ranking-price">
                    <ul>
                        <li class="active-price">$</li>
                        <li class="active-price">$</li>
                        <li class="active-price">$</li>
                        <li>$</li>
                    </ul>
                </li>
                <li><span>0.1mi</span></li>
            </ul>
        </div>
    </section>
    <section class="salon-block">
        <img class="pull-left img-salon" src="../image/demo/demo-list2.png">
        <div class="salon-block-info">
            <h2>Bliss salon & Day Spa</h2>
            <p>3377  SE Division St., Suite 103  Portland</p>
            <ul>
                <li class="likes"><img src="../image/sprites.png" alt="">345</li>
                <li class="ranking-price">
                    <ul>
                        <li class="active-price">$</li>
                        <li class="active-price">$</li>
                        <li>$</li>
                        <li>$</li>
                    </ul>
                </li>
                <li><span>1.0mi</span></li>
            </ul>
        </div>
    </section>
    <section class="salon-block">
        <img class="pull-left img-salon" src="../image/demo/demo-list3.png">
        <div class="salon-block-info">
            <h2>Neil  Atelier</h2>
            <p>1023 NW 23rd Ave Portland, OR  97210</p>
            <ul>
                <li class="likes"><img src="../image/sprites.png" alt="">350</li>
                <li class="ranking-price">
                    <ul>
                        <li class="active-price">$</li>
                        <li class="active-price">$</li>
                        <li>$</li>
                        <li>$</li>
                    </ul>
                </li>
                <li><span>1.5mi</span></li>
            </ul>
        </div>
    </section>
</main>


</body>
</html>