<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <title></title>
    <link href="../styles/bootstrap.css" rel="stylesheet" media="all">
    <link href="../styles/style.css" rel="stylesheet" media="all">

</head>
<body>

<header>
    <ul>
        <li class="text-left popup-menu"><a><img src="../image/menu_sign.png"></a></li>
        <li class="text-center logo"><a href="/"><img src="../image/logo.png"></a></li>
        <li class="text-right refine"><a href="screens_mobile_final10.html"><img class="pull-right" src="../image/ref_sign.png"><span class="pull-right">Refine</span></a></li>
    </ul>
</header>

<main class="reset-password">
    <div>
        <input type="text" placeholder="Email">
        <button>Reset your password</button>
    </div>
    <ul>
        <li><a href="">Terms of use</a></li>
        <li><a href="">Privacy Policy</a></li>
    </ul>
</main>


</body>
</html>